# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/

# production
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env*
!.env.example

# Google service-account credentials
google-*.json
bloguiagent-459803-26b878bbc8dc.json

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel
